@import "./shared.scss";


h1, h2, h3, h4, h5 {
  font-family: $font-stack;
  text-align: center;
}

h1:before {
  content: '['
}
h1:after {
  content: ']'
}


html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $font-stack;
  font-size: 36px;
  color: $colour_middle;
  // line-height: 180%;
}


body {
  background-image: url('./background.jpg');
  background-position: center top; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.mainDiv{
  @media (min-width: $main-width){
    width: $main-width;
  }
  margin: auto;
  .menu {
    position: absolute;
    top:0;
    right: 10vw;
    a {
      text-decoration: none;
      font-family: $font-stack-simpler;
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 0 4px #ffffff;
    }
  }
  .password {
    margin-top: 30vh;
    text-align: center;
    a {
      text-decoration: none;
      &:active, 
      &:focus ,
      &:visited{
        color: $colour_middle;
      }
      &:hover{
        color: $colour_kick;
      }
      margin-left: 1em;
    }

  }
}