@import "./shared.scss";


.commoner{
  text-align: center;
  @media (min-width: $main-width){
    width: $main-width;
  }
  margin: auto;

  img {
    width: $main-width;
  }

  .title{
    font-size: 2em;
  }

  .subtitle {
    font-size: 1.5em;

  }

  .mainText {

  }

}