$font-stack:    Journal, Helvetica, sans-serif;
$font-stack-simpler:    Helvetica, sans-serif;

$colour_darkest:  #424242; // 
$colour_darker:   #424242; // 
$colour_dark:     #424242; // normal text
$colour_middle:   #66184c; // normal
$colour_light:    #BCBCBC; // invert
$colour_kick:     #3299BB; // 
$colour_lightest: #ffffff; // 
$colour_background: #ffffff; // lightest

$main-width: 700px;