@font-face {
  font-family: FiraSans;
  src: url("../public/style/fonts/FiraSans-Light.otf") format("opentype");
}

@font-face {
  font-family: FiraSansItalic;
  font-style: italic;
  src: url("../public/style/fonts/FiraSans-Italic.otf") format("opentype");
}

@font-face {
  font-family: FiraSansBold;
  font-weight: bold;
  src: url("../public/style/fonts/FiraSans-SemiBold.otf") format("opentype");
}


@font-face {
  font-family: Journal;
  src: url("../public/style/fonts/journal-webfont.woff") format("opentype");
}
